<div class="kdq-404">
  <img class="bg-overlay" src="images/bg-404.jpg" alt="404">
  <div kdq-particles class="bg-particles"></div>
  <section class="kdq-masthead">
    <div class="container">
      <h1>ERROR <span>404</span></h1>
      <h6>It's looking like you may have taken a wrong turn.
        <br>Don't worry... It happens to the best of us.</h6>
      <hr>
      <div class="clearfix">
        <nav class="nav nav-inline nav-social">
          <!-- <a class="nav-link" href="#" target="_blank"><i class="fa fa-facebook fa-lg"></i></a> -->
          <a class="nav-link" href="https://twitter.com/kodeqteam" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
          <a class="nav-link" href="https://github.com/kodeq-dev" target="_blank"><i class="fa fa-github fa-lg"></i></a>
        </nav>
      </div>
    </div>
  </section>
</div>