<div class="kdq-home">
  <section class="kdq-masthead">
    <canvas kdq-trianglify class="bg-overlay"></canvas>
    <div kdq-particles class="bg-particles"></div>
    <div class="container">
      <h1>SOLID offshore front-end development</h1>
      <h6>Our model heavily leverages long-term partnerships. You can count on us for on-time, on-budget delivery, and awesome products.</h6>
      <a ui-sref="our_services" type="button" class="btn btn-white-outline btn-lg">Learn more</a>
    </div>
  </section>
  <section class="kdq-section kdq-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-5 pull-md-right">
          <img kdq-vivus class="intro-img" src="images/intro.svg" alt="Offshore development team, onshore quality">
        </div>
        <div class="col-md-7 pull-md-left">
          <h2 class="m-b-2">Quality & transparency powered by Agile development.</h2>
          <ul class="nav">
            <li>
              <p> We are an Agile web development team. We build from scratch, develop and maintain existing code base with technologies such as AngularJS, Sass, Grunt, Gulp, HTML5, CSS3.</p>
            </li>
            <li>
              <p>We write lean, stable codes with a huge emphasis on scalability and quality so that your software is less costly to maintain and much more responsive to market changes.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="kdq-section kdq-business">
    <canvas kdq-trianglify color="GnBu" class="bg-overlay"></canvas>
    <div class="bg-particles"></div>
    <div class="container">
      <h2 class="m-b-2">Business Model</h2>
      <p class="m-b-4">Our methodology allows for a client-oriented software development process and guarantees better resource efficiency.</p>
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <i class="icon-rh-icon-lifestyle"></i>
            <h5 class="m-b-2">Selective Recruiting</h5>
            <p>We handpick the most competitive Front-end developers in the field based on their industry expertise, product mindset and most importantly, a constant yearning for research and perfection.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card dark">
            <i class="icon-rh-icon-increase-productivity"></i>
            <h5 class="m-b-2">Robust Management</h5>
            <p>We customize our processes after yours and place a huge focus early on how the end product will best satisfy your needs. As your dedicated team, we also go extra miles to innovate with your business goals in mind.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <i class="icon-rh-icon-network-community"></i>
            <h5 class="m-b-2">Flawless Communication</h5>
            <p>We report progress to you on a daily basis. We also use professional collaborative tools such as JIRA/ Pivotal Tracker, Slack-based chatrooms and real-time developers’ timesheets for full transparency.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="kdq-section kdq-clients">
    <div class="container">
      <h2 class="m-b-3">Some of Our Clients</h2>
      <div class="row">
        <div class="col-md-6 client">
          <div class="client-info m-b-3">
            <h3 class="m-b-2">The Weather Channel</h3>
            <div class="client-logo">
              <img src="images/twc.png" alt="The weather channel" class="img-rounded">
            </div>
          </div>
          <div class="client-technology">
            <ul class="nav nav-inline">
              <li class="nav-item" title="angularjs"><img src="images/angular-icon.svg" alt=""></li>
              <li class="nav-item" title="gulp"><img src="images/gulp.svg" alt=""></li>
              <li class="nav-item" title="sass"><img src="images/sass.svg" alt=""></li>
              <li class="nav-item" title="karma"><img src="images/karma.svg" alt=""></li>
              <li class="nav-item" title="jasmine"><img src="images/jasmine.svg" alt=""></li>
              <li class="nav-item" title="bootstrap"><img src="images/bootstrap.svg" alt=""></li>
              <li class="nav-item" title="jira"><img src="images/jira.svg" alt=""></li>
              <li class="nav-item" title="github"><img src="images/github-icon.svg" alt=""></li>
              <li class="nav-item" title="slack"><img src="images/slack.svg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 client">
          <div class="client-info m-b-3">
            <h3 class="m-b-2">Wingstats</h3>
            <div class="client-logo">
              <img src="images/wingstats.png" alt="Wingstats" class="img-rounded">
            </div>
          </div>
          <div class="client-technology">
            <ul class="nav nav-inline">
              <li class="nav-item" title="angularjs"><img src="images/angular-icon.svg" alt=""></li>
              <li class="nav-item" title="grunt"><img src="images/grunt.svg" alt=""></li>
              <li class="nav-item" title="yii"><img src="images/yii.svg" alt=""></li>
              <li class="nav-item" title="bootstrap"><img src="images/bootstrap.svg" alt=""></li>
              <li class="nav-item" title="requirejs"><img src="images/require.svg" alt=""></li>
              <li class="nav-item" title="github"><img src="images/github-icon.svg" alt=""></li>
              <li class="nav-item" title="slack"><img src="images/slack.svg" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="kdq-section kdq-connect">
    <canvas kdq-trianglify color="GnBu" class="bg-overlay"></canvas>
    <div class="bg-particles"></div>
    <div class="container">
      <h2 class="m-b-2">Do you want to get in touch?</h2>
      <p class="m-b-4">We are always excited about new projects!</p>
      <div class="connect-form">
        <form ng-submit="submitConnect()">
          <div class="row">
            <div class="form-group col-md-6">
              <input type="text" name="fullname" class="form-control form-control-lg" ng-model="connect.fullname" placeholder="Full name">
            </div>
            <div class="form-group col-md-6">
              <input type="email" name="email" class="form-control form-control-lg" ng-model="connect.email" placeholder="Email address">
            </div>
          </div>
          <div class="form-group">
            <textarea type="text" name="message" class="form-control form-control-lg" ng-model="connect.message" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary-outline btn-lg btn-block">Submit</button>
        </form>
      </div>
    </div>
    <section class="kdq-locations clearfix">
      <div kdq-static-map address="3237 Telford Terrace SW, Atlanta, GA 30331, USA" lat="33.6651392" lng="-84.5173652" class="map">
      </div>
      <div kdq-static-map address="25 Nguyễn Hữu Thọ, Tân Hưng, Ho Chi Minh City, Ho Chi Minh, Vietnam" lat="10.7409917" lng="106.698449" class="map"></div>
    </section>
  </section>
</div>
