<header class="kdq-header">
  <button type="button" class="navbar-toggler hidden-sm-up pull-right collapsed" data-toggle="collapse" data-target="#main-navbar">
    &#9776;
  </button>
  <nav id="main-header" class="navbar navbar-fixed-top navbar-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand logo" href="/"><img src="images/kodeq-logo-simple.svg" alt="KodeQ"></a>
      </div>
      <div class="collapse navbar-toggleable-xs" id="main-navbar">
        <nav class="nav navbar-nav pull-sm-right">
          <a ng-repeat="nav in navs track by $index" class="nav-item nav-link" ng-class="{'active': layout.currentState == nav.stateName}" ui-sref="{{::nav.stateName}}" ng-bind="::nav.title"></a>
        </nav>
      </div>
    </div>
  </nav>
</header>
