<div class="kdq-footer" ng-if="!layout.hideFooter">
  <canvas kdq-trianglify color="GnBu" class="bg-overlay"></canvas>
  <div class="bg-particles"></div>
  <section class="kdq-section kdq-connect m-b-3 row">
    <div class="container">
      <h2 class="m-b-2">Do you want to get in touch?</h2>
      <p class="m-b-4">We are always excited about new projects!</p>
      <div class="connect-form">
        <div class="alert alert-success" role="alert" ng-if="submitConnectSuccessfull">
          <strong>Thank you!</strong> We'll review your submission and back to you within 48 hours.
        </div>
        <form name="messageForm" novalidate ng-submit="submitConnect(); messageForm.$setUntouched(false);">
          <div class="row">
            <div class="form-group col-md-6" ng-class="{'has-success': messageForm.fullname.$touched && !messageForm.fullname.$error.required, 'has-danger': messageForm.fullname.$touched && messageForm.fullname.$error.required}">
              <input type="text" name="fullname" class="form-control form-control-lg" ng-model="connect.fullname" placeholder="Full name" required ng-class="{'form-control-success': messageForm.fullname.$touched && !messageForm.fullname.$error.required, 'form-control-danger': messageForm.fullname.$touched && messageForm.fullname.$error.required}">
            </div>
            <div class="form-group col-md-6" ng-class="{'has-success': messageForm.email.$touched && !messageForm.email.$error.email, 'has-danger': messageForm.email.$touched && messageForm.email.$error.email}">
              <input type="email" name="email" class="form-control form-control-lg" ng-model="connect.email" placeholder="Email address" required ng-class="{'form-control-success': messageForm.email.$touched && !messageForm.email.$error.email, 'form-control-danger': messageForm.email.$touched && messageForm.email.$error.email}">
            </div>
          </div>
          <div class="form-group">
            <textarea type="text" name="message" class="form-control form-control-lg" ng-model="connect.message" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary-outline btn-lg btn-block" ng-disabled="!messageForm.$valid">Send</button>
        </form>
      </div>
    </div>
    <section class="kdq-locations clearfix">
      <div kdq-static-map city="Atlanta" address="3237 Telford Terrace SW, Atlanta, GA 30331, USA" lat="33.6651392" lng="-84.5173652" class="map">
      </div>
      <div kdq-static-map city="Ho Chi Minh" address="0905 W1, 25 Nguyen Huu Tho, Tan Hung, Dist. 7, Ho Chi Minh City, Vietnam" lat="10.7409917" lng="106.698449" class="map"></div>
    </section>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-7 m-b-1 footer-nav">
          <div class="m-b-1 clearfix">
            <nav class="nav nav-inline pull-right">
              <a ng-repeat="nav in navs track by $index" class="nav-item nav-link" ui-sref="{{::nav.stateName}}" ng-bind="::nav.title"></a>
            </nav>
          </div>
          <div class="clearfix">
            <nav class="nav nav-inline pull-right">
              <!-- <a class="nav-link" href="https://www.facebook.com/kodeq.team" target="_blank"><i class="fa fa-facebook fa-lg"></i></a> -->
              <a class="nav-link" href="https://twitter.com/kodeqteam" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
              <a class="nav-link" href="https://www.linkedin.com/company/kodeq" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
              <a class="nav-link" href="https://github.com/kodeq-dev" target="_blank"><i class="fa fa-github fa-lg"></i></a>
            </nav>
          </div>
        </div>
        <div class="col-md-5 footer-copyright">
          <p>© 2016 KodeQ LLC</p>
        </div>
      </div>
    </div>
  </footer>
</div>

